---

import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";

---

<Layout title="about">
<header></header>

<Navigation />


<main></main>

<footer></footer>






</Layout>