---

import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

---

<Layout title="about">
<nav>
    <Navigation />
</nav>


<main>
    <h1> Introduction to Astro</h1>
    <h2>.. and my new astro site</h2>
    <p> I am testing my journey with Astro </p>
</main>

<footer>
</footer>
</footer>






</Layout>

<style>
    body{
        margin:0;
        padding:0;
    }

    nav{
    background-color:rgba(0,0,0,0.5);
    margin-top: -0.9rem;
    padding: 1rem 2rem;
    }
</style>