---
import HeadLayout from "../layouts/HeadLayout.astro";
---
<HeadLayout title ="homepage">
<header>
<nav>
    <ul>
        <li><a href="#">Home</a></li>   
        <li><a href="/src/pages/about.astro">About</a></li>
        <li><a href="/services.astro">Services</a></li>
        <li><a href="/src/pages/contacts.astro">Contacts</a></li>
    </ul>
</nav>
</header>
<main>
<h1>This is my fifth attempt with astro</h1>
<p> As they say Old is Gold</p>
</main>
<footer>
    <p>Winnie Bosibori &COPY; 2023</p>
</footer>
</HeadLayout>