---
import Layout from "../layouts/Layout.astro";
import assets from "../assets/BackgroundImage.jpg";
import Utility from "../components/Utility.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import backgroundImage from "../assets/background.jpg"
import {Image} from "../assets/background.jpg"

---

<Layout title ="homepage">
  <body>
    <header>
   <Utility />
    </header>

<nav>
  <Navigation />  
</nav>
<main>
    <h1>mY CONTENT IS HERE</h1>
    
</main>

<footer />
</body>
</Layout>

<style>
  body{
    background-image:url(src/assets/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
  }
</style>

