---
const platform = 'github';
const username = 'bosibori'
---


<footer>
    <p>Learn more about my projects on <a href={`https:www.${platform}.com/${username}`}>{platform}!</a></p>
    <p>Winnie Bosibori &COPY; 2023</p>
</footer>


<style>
   p ,a{
    font-size: 1.2rem;
    color: white
   }

  
</style>