---

---

<ul class="navigation_list">
    <li class ="navigation_list_item"><a href="/">Home</a></li>
    <li class ="navigation_list_item"><a href="/about/">About</a></li>
    <li class ="navigation_list_item"><a href="/blog/">Blog</a></li>
    <li class ="navigation_list_item"><a href="/contacts/">Contacts</a></li>
</ul>


<style>
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    
        
    }
    ul>li {
        margin: 0 0.9rem 0 0.9rem;
    }

    a {
        font-size: 1.2rem;
        color: #ffffff;

    }
</style>
