---

---

<nav aria-label ="Utility">
    <ul class="utlility_item">
        <li class ="utility_list_item">
            <a href="/"> Nairobi,Kenya </a>
        </li>
        <li class ="utility_list_item">
            <a href="tel:+254700000000" aria-label ="Call + 2 5 4 0 7 0 0 0 0 0 0 0"> 
           +254700000000 
            </a>
        </li>
    </ul>
</nav>
<style>
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
       justify-content:space-between;
    
        
    }
    .utility_list_item {
      align-self: flex-end;
    }
    a {
        font-size: 1.2rem;
        color: #ffffff;

    }
    <style

